.container{
    width: 900px;
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;

}


.container img{
    width: 500px;
    height: 300px;
    border-radius: 15px;
}

.projectInfo{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.projectInfo button{
    width: 150px;
    background-color: white;
    padding: 8px 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    border: 2px black solid;
    color: black;
}

.projectInfo button:hover{
    transform: scale(1.02);
    cursor: pointer;
}







@media(max-width: 768px){
    .container{
        width: 250px;
        flex-direction: column;
        gap: 50px;
    }
    .container img{
        width: 250px;
        height: 150px;
    }
}